.wrapper
    display: grid
    min-height: 100vh
    grid-template-columns: 0.8fr 6fr
    .main
        margin-top: 1.9rem
        background-color: #F5F7FA
        padding-left: 2.5rem
        padding-right: 2.5rem
        min-height: 90vh

    .cardsBlock
        display: grid
        grid-template-columns: 2fr 1fr
        grid-gap: 30px

    .cards
        display: flex
        gap: 30px
        margin-top: 1.5rem
        margin-bottom: 1.5rem

    .transactionsTitle
        font-family: Mont, sans-serif
        font-size: 1.375rem
        color: #343C6A
        font-weight: bold
        padding-bottom: 1.2rem
        padding-top: 1.2rem

    .transactionsBox
        display: flex
        flex-direction: column
        background-color: #ffffff
        padding: 1rem
        border-radius: 1rem
        max-width: fit-content
        gap: 0.4rem
